@model SSTResultSystem.Models.result31

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>result31</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.examterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat3131)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mat3131)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse3122)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse3122)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse3133)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse3133)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse3134)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse3134)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse31p5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse31p5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse3136)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse3136)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse31p7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse31p7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse31p8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse31p8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse31p9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse31p9)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
