@model IEnumerable<SSTResultSystem.Models.result31>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat3131)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse3122)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse3133)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse3134)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse31p5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse3136)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse31p7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse31p8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse31p9)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examterm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat3131)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse3122)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse3133)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse3134)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse31p5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse3136)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse31p7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse31p8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse31p9)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
