@model IEnumerable<SSTResultSystem.Models.result42>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examterm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse4231)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse4232)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse42p3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse4234)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse42p5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse4246)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cse4227)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.examterm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse4231)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse4232)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse42p3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse4234)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse42p5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse4246)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cse4227)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
