@model SSTResultSystem.Models.Result11StudentJoin

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>

    <div>
        <h4>result11</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.studentid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.studentid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.examterm)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.examterm)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.eng1131)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.eng1131)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phy1132)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phy1132)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.bus1123)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bus1123)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mat1134)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mat1134)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.eee1135)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.eee1135)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.eee11p6)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.eee11p6)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cse1127)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cse1127)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cse11p8)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cse11p8)
            </dd>

        </dl>
    </div>*@

<table width="590" border="0" align="center" cellpadding="1" cellspacing="1" bgcolor="#000000" class="tble">
    <tbody>
        <tr>
            <td bgcolor="#FFFFFF">
                <table width="590" border="0" align="center" cellpadding="1" cellspacing="1">
                    <tbody>
                        <!-- <tr align="center" bgcolor="#FFFFFF">
                            <td colspan="3">
                                <a href="#" onclick="window.print();">
                                    <img src="image/print.gif" alt="print" border="0" height="20" width="20"
                                </a>
                                Print
                            </td>
                        </tr> -->
                        <tr align="center" bgcolor="#E8FFFF">
                            <!--<td width="168" align="right">
                                <font color="#000000" size="3">
                                    <strong>
                                        <img src="image/logo.png" alt="print" border="0"
                                    </strong>
                                </font>
                            </td>-->
                            <td colspan="3">
                                <font color="#000000" size="5">
                                    <strong>Bangladesh Open University</strong>
                                </font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#E8FFFF">
                            <td colspan="3">
                                <font color="#000000" size="3">
                                    <strong>1st Year 1st Semester Result</strong>
                                </font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#E8FFFF">
                            <td colspan="3" />
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="2" align="right">&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">
                                Student ID
                                <strong />
                            </td>
                            <td width="414">
                                <b>: @Html.DisplayFor(model => model.result11.studentid)</b>
                            </td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">
                                Student Name
                                <strong />
                            </td>
                            <td width="414">
                                <b>: @Html.DisplayFor(model => model.student.fullname)</b>
                            </td>
                        </tr>
                        <!-- <tr bgcolor="#FFFFFF">
                          <td align="right"><strong>Father's Name: </strong></td>
                          <td></td>
                        </tr> -->

                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">Exam Term</td>
                            <td>
                                <b>: @Html.DisplayFor(model => model.result11.examterm)</b>

                            </td>
                        </tr>

                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">Session</td>
                            <td>
                                <b>:</b>
                                @Html.DisplayFor(model => model.student.batchno)
                            </td>
                        </tr>
                        <!--<tr bgcolor="#FFFFFF">
                            <td colspan="2">Subject Name</td>
                            <td>
                                <b>:</b>
                                BOTANY
                            </td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">Exam Year</td>
                            <td>
                                <b>:</b>
                                2019
                            </td>
                        </tr>

                        <tr bgcolor="#FFFFFF">
                          <td align="right"><strong><font color="#000000">Marks Obtained: </font></strong></td>
                          <td></td>
                        </tr>-->
                        <!--       <tr bgcolor="#FFFFFF">
                          <td colspan="2" align="right"><font color="#000000">Total: </font></td>
                          <td> </td>
                        </tr>
                        <tr bgcolor="#FFFFFF">
                            <td colspan="2">Result</td>
                            <td>
                                <b>:</b>
                                Withheld for Practical
                            </td>
                        </tr> -->
                    </tbody>
                </table>
                <br>
                <table width="700" class="table table-bordered" align="center" cellpadding="1" cellspacing="1" bgcolor="#000000">
                    <tbody>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000"><b>Course Code</b></font>
                            </td>
                            <td>
                                <font color="#000000"><b>Course Title</b></font>
                            </td>
                            <td>
                                <font color="#000000"><b>Course Credit</b></font>
                            </td>
                            <td>
                                <font color="#000000"><b>Obtained GP</b></font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">ENG1131</font>
                            </td>
                            <td>
                                <font color="#000000">Communicative English</font>
                            </td>
                            <td>
                                <font color="#000000">3.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.eng1131)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">PHY1132</font>
                            </td>
                            <td>
                                <font color="#000000">Wave, Optics and Thermodynamics</font>
                            </td>
                            <td>
                                <font color="#000000">3.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.phy1132)</font>
                            </td>
                        </tr>

                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">BUS1123</font>
                            </td>
                            <td>
                                <font color="#000000">Introduction to Business</font>
                            </td>
                            <td>
                                <font color="#000000">2.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.bus1123)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">MAT1134</font>
                            </td>
                            <td>
                                <font color="#000000">Mathematics</font>
                            </td>
                            <td>
                                <font color="#000000">3.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.mat1134)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">EEE1135</font>
                            </td>
                            <td>
                                <font color="#000000">Electricity, Magnetism and Electrical Circuit</font>
                            </td>
                            <td>
                                <font color="#000000">3.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.eee1135)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">EEE11P6</font>
                            </td>
                            <td>
                                <font color="#000000">Electricity, Magnetism and Electrical Circuit Lab</font>
                            </td>
                            <td>
                                <font color="#000000">0.75</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.eng1131)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">CSE1127</font>
                            </td>
                            <td>
                                <font color="#000000">Computer Fundamentals</font>
                            </td>
                            <td>
                                <font color="#000000">2.0</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.cse1127)</font>
                            </td>
                        </tr>
                        <tr align="center" bgcolor="#FFFFFF">
                            <td>
                                <font color="#000000">CSE11P8</font>
                            </td>
                            <td>
                                <font color="#000000">Computer Fundamentals </font>
                            </td>
                            <td>
                                <font color="#000000">0.75</font>
                            </td>
                            <td>
                                <font color="#000000">@Html.DisplayFor(model => model.result11.cse11p8)</font>
                            </td>
                        </tr>
                        <!-- <tr bgcolor="#C6FFFF">
                          <td colspan="2" align="right" bgcolor="#FFFFFF"><b>Total</b></td>
                          <td align="center" bgcolor="#FFFFFF"><strong><font color="#000000">0</font></strong></td>
                          <td align="center" bgcolor="#FFFFFF"><strong><font color="#000000">0</font></strong></td>
                        </tr> -->
                    </tbody>
                </table>
                <br>
                <p />
                @*<center>
                    <table width="590">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td align="center">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="105">&nbsp;</td>
                                <td width="229">&nbsp;</td>
                                <td width="240" align="center">sd/-</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td align="center">(Badruzzaman)</td>
                            </tr>
                            <tr>
                                <td style="font-size: 13px">&nbsp;</td>
                                <td style="font-size: 13px">&nbsp;</td>
                                <td align="center">Controller of Examination</td>
                            </tr>
                        </tbody>
                    </table>
                    <p />
                </center>*@
            </td>
        </tr>
    </tbody>
</table>


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
