@model IEnumerable<SSTResultSystem.Models.student>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-primary text-decoration-underline">List of All Students</h2>

<p class="text-end">
    @Html.ActionLink("Add New Student", "Create", "StudentsController", new { @class = "btn btn-info" })
</p>
<table class="table table-bordered">
    <tr>
        <th>Sl. No</th>
        <th>
            @Html.DisplayNameFor(model => model.studentid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.studycenter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.batchno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.academicsession)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fathername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mothername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobileno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bloodgroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>Action</th>
    </tr>
@{var sl = 1; }
@foreach (var item in Model) {
    <tr>
        <td>@sl</td>
        @{ sl++;}
        <td>
            @Html.DisplayFor(modelItem => item.studentid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studycenter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.batchno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.academicsession)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fathername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mothername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobileno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bloodgroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.studentid }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.studentid }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.studentid }, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
