@model SSTResultSystem.Models.result41

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>result41</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.studentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.examterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse4121)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse4121)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse4132)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse4132)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse4133)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse4133)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse41p4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse41p4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse4135)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse4135)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse41p6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse41p6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse4137)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse4137)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cse41p8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cse41p8)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
